# Used for production, replace with whatever string you get from your provider
DATABASE_URL="postgresql://user:password@host:port/db?sslmode=require"

# FOR DEVELOPMENT ONLY
# For production, use DATABASE_URL
DEV_PG_USER=dev
DEV_PG_PASSWORD=devpassword
DEV_PG_DB=devdb
DEV_PG_PORT=5432